@charset "UTF-8";

.head {
	background-color: rgb(50, 98, 149);
	color: white;
}

#afc {
	color: rgba(255,255,255,1);
}

#afc:hover {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

#headtitle {
	font-family: Audiowide;
	font-size: 50pt;
	margin-left: 40pt;
}

#headtitle2 {
	font-family: Bungee Hairline;
	font-size: 25pt;
	cursor: default;
}

#fifawhitelogo {
	float: right;
	margin-top: 70px;
	margin-right: 10px;
	width: 7%; 
}